<p id="notice"><%= notice %></p>
<%= link_to "戻る", :back, class:"btn" %>
<div class='chat-room-form'>
  <div class="row">
    <div class="col-md-4">
<div class="toppage">
  <div class="schedule_toppage">
  <h1 class="top"><%=current_user.name%><%="マイページ"%></h1>
  </div>
  <br>
  <div class="col-md-8">
    <%= month_calendar events: current_user.schedules do |date, schedules| %>
    <%= date.day %>

    <% schedules.each do |schedule| %>
      <div>
        <%= schedule.user.name %>
        <%= link_to schedule.content %>
        <%= schedule.start_time.strftime("%H:%M") %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>
</div>
</div>