
<div class="contents row">
  <div class="container">
<h2>保存しました</h2><br />
<div class="field">
<%= "名前:"+ current_user.name %><br />
</div>
<%= "メール:"+ current_user.email %><br />
<%= "assist1:"+ current_user.assist1 %><br />
<%= "assist2:"+ current_user.assist2 %><br />
<%= "メモ:"+ current_user.memo %><br />
<br>
<%= "グループ:"%>
<ul>
  <li>
  <% current_user.group_users.each do |group_user| %>
  <%= group_user.group.name %>
  <%end%>
  </li>
</ul>
<%= link_to "カレンダーに戻る",root_path,class:"btn" %>

</div>
</div>