<div class='chat-room-form'>
  <div class="row">
    <div class="col-md-4">

    <%= @group.name %>
    <%= current_user.name %>
    <h1>スケジュールの編集</h1>
<%= form_with(model: [@group,@schedule], local: true) do |form| %>

  <%# <div class="title">
    <div class="form-tag">お手伝いする人</div>
    <%= form.text_field :user %>
  <%# </div> %>


  <div class="content">
    <div class="form-tag">内容</div>
    <%= form.text_field :content %>
  </div>

    <div class="time">
    <div class="form-tag">時間</div>
    <%= form.datetime_select :start_time %>
  </div>


  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>
</div>
</div>
</div>