<p id="notice"><%= notice %></p>

<div class="toppage">
  <div class="schedule_toppage">
  <h1 class="top">グループ名 名前</h1>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <div class="schedule">今後の予定一覧</div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>内容</th>
            <th>日程</th>
          </tr>
        </thead>

        <tbody>
          <% @schedules.each do |schedule| %>
          <tr>
            <td><%= link_to schedule.content , schedule %></td>
            <td><%= schedule.start_time.strftime("%m/%d") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>

      <%= form_with(model: @schedule, local: true) do |form| %>

      <div class="title">
        <div class="form-tag">お手伝いする人を選んでください</div>
          <select name="schedule[user_id]">
            <%# <%= Need_assist.where.not( (user.assist1)!= empty || id: current_user.id ).each do |user| %> %>
            <%= User.where.not( id: current_user.id ).each do |user| %>
            <option value=<%= user.id %>><%= user.name %></option>
            <% end %>
          </select>
        <%# <%= form.text_field :user_id %>
        </div>

        <div class="content">
          <div class="form-tag">内容</div>
            <select>
            <option>除雪</option>
            <option>排雪</option>
            <option>買い物</option>
            <option>食事</option>
            <option>洗濯</option>
            <option>掃除</option>
            </select>
          </div>
          <div class="time">
            <div class="form-tag">時間</div>
          </div>
          <div class="time_assist">
            <%= form.datetime_select :start_time %>
          </div>

          <div class="submit">
            <%= form.submit %>
          </div>
          <% end %>
        </div>
        <div>
          <%= link_to '変更する', user_path(current_user.id) %>
        </div>
        <br>
        <br>
        <div class="col-md-8">
          <%= month_calendar events: @schedules do |date, schedules| %>
          <%= date.day %>

          <% schedules.each do |schedule| %>
            <div>
              <%# <%= @need_assist.user.name 助けてほしい人の名前 + "さんちの"  %> 
              <%= link_to schedule.content, schedule %>
              <%= schedule.start_time.strftime("%H:%M") %>
              <%= schedule.user.name %>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>