<!DOCTYPE html>
<html>
  <head>
    <title>AssistEachOther</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">

      <div >
      <%= link_to "戻る", :back, class:"btn" %>
      </div>
      
      <% unless user_signed_in?%>
      <div >
      <%= link_to "新規登録",  new_user_registration_path, method: :get, class:"btn" %>
      </div>
      <% else %>
      <div >
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn" %>
      </div>
      <% end %>
      
    </header>
    <%= yield %>
  </body>
</html>
